.footer {
  background-color: #373434;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed; /* Fija el footer */
  bottom: 0; /* Lo posiciona en la parte inferior */
  left: 0; /* Lo alinea a la izquierda */
  padding: 0.625rem;
  flex-direction: row;
  align-items: center;
  z-index: 100; /* Asegura que el footer esté encima de otros elementos si es necesario */
}

.copyright {
  font-size: 14px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 0.5rem;
  }

  .copyright {
    white-space: normal;
    text-align: center;
  }
}
