.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  padding-top: 100px;
  padding-bottom: 180px;
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  box-sizing: border-box;
}

.error-title {
  text-align: center;
  font-size: 5rem;
  color: #e81cff;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.error-message {
  text-align: center;
  font-size: 1.5rem;
  color: #40c9ff;
  margin-bottom: 2rem;
}
